body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f7;
}

/* sidebar */

.sidebar {
  width: 290px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFDB5A;
  padding: 20px 0 40px;
  color: #442B48;
  margin-bottom: 40px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0;

}

.sidebar a .option svg {
  margin-left: 60px;
}

.sidebar a .option {
  justify-content: flex-start;
  align-items: center;
}

.sidebar .option,
.sidebar .logout-option {
  display: flex;
  width: 290px;
  flex-direction: row;


}

.sidebar .logout-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  padding-top: -50px;
}

.sidebar .logout-option p {
  padding-right: 12px;

}





.sidebar .option:hover {
  background-color: #442B48;
  color: #FFDB5A;
  cursor: pointer;

}

.sidebar .option::selection {
  background-color: #442B48;
  color: #FFDB5A;
  cursor: pointer;

}
.sidebar .option svg::selection  {
  fill: #fabb00;

}


.sidebar .option:hover path {
  fill: #fabb00;
}

.fill-svg{
  fill: #fabb00;
}

.option-color{
  color:#442B48;
}


.sidebar a {

  text-decoration: none;
  font-size: 18px;
}



.sidebar svg,
.cal-svg {
  margin: 15px;
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px;
}

.sidebar .picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
}

.sidebar .name {
  font-size: 20px;
  font-weight: bold;
}

.sidebar .logout {
  margin-top: 100px;
  margin-right: 20px;
}

/* main page right container */

.right-container {
  margin-left: 300px;
  padding: 50px;

}

.upcoming-meetings-heading,
.mom-heading,
.create-meeting-heading {
  color: #6B4671;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  flex-direction: column;

}

.upcoming-meetings-heading span,
.mom-heading span,
.create-meeting-heading span {
  height: 3px;
  width: 150px;
  background-color: #6B4671;
  border-radius: 50px;
  margin-left: 3px;
}

.mom-heading span {
  width: 50px;
}


/* meeting card */


.meeting-card {
  width: 440px;
  height: 223px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 0;
  margin: 20px;
  color: black;
  display: flex;
  flex-direction: column;

}

.meeting-card:hover{
    box-shadow: var(--shadow-active);
    -moz-box-shadow: var(--shadow-active);
    -webkit-box-shadow: var(--shadow-active);
  cursor: pointer;
}



.meeting-cards-container,
.mom-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.meeting-card .meeting-header,
.meeting-card .top-body,
.meeting-host,
.bottom-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.bottom-body {
  align-items: center;
}

.meeting-card .bottom-body .btns {
  margin: 0 20px;
}

.meeting-card .bottom-body .btns .accept-btn,
.meeting-card .bottom-body .btns .deny-btn {
  margin: 0 0 0 10px;
}

.meeting-card .bottom-body .btns .deny-btn {

  border: #442B48 solid;
  background-color: white;
  color: #442B48;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.meeting-card .bottom-body .btns .accept-btn,
.meeting-card .bottom-body .btns .join-btn {
  background-color: #442B48;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: #442B48 solid;
}

.meeting-card .bottom-body .btns .accept-btn:hover,
.meeting-card .bottom-body .btns .join-btn:hover {
  cursor: pointer;
  border: #442B48 solid;
  background-color: white;
  color: #442B48;

}

.meeting-card .bottom-body .btns .deny-btn:hover {
  cursor: pointer;
  background-color: #6B4671;
  color: white;
}



/* button animation */
.meeting-card .bottom-body .btns .accepted-btn {
  animation-name: accepted-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;

  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: green solid;

}

@keyframes accepted-animation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.meeting-card .bottom-body .btns .denied-btn {
  animation-name: denied-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;

  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: red solid;

}

@keyframes denied-animation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* button animation end */



.meeting-room {
  display: flex;
  flex-direction: row;
}

.top-body,
.mid-body {
  margin: 5px;
}

.meeting-header {
  align-items: center;
}

.meeting-header div:nth-child(2),
.meeting-header div:nth-child(1) {
  color: white;

}

.meeting-title{
  font-weight: bolder;
}

.meeting-host div:last-child,
.meeting-room div:last-child,
.mid-body
.meeting-time {
  font-weight: 320;
}

.meeting-body .host,
.venue{
  font-weight: bold;
  margin: 0 5px 0 0;
  color: #313131;
  font-size: 15px;
}

.meeting-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 30px;
  padding: 0 0 0 10px;
}

.mid-body {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
}

.meeting-body {
  margin-top: 10px;

}

.meeting-time {
  padding: 0 5px 0 0;
}

.bottom-body {

  margin-bottom: 15px;
  margin-left: 5px;

}

.meeting-title {
  font-size: 22px;
  font-weight: 600;
}

.meeting-header {
  background-color: #FFC700;
  padding: 10px 10px 10px 10px;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}


/*
mom card */

hr {
  margin-top: 20px;
  margin-right: 40px;
}

.mom-cards-container {

  padding-right: 60px;
}

.mom-heading {
  margin-top: 30px;
}

.mom-card {
  background-color: #FFC700;
  height: 173px;
  width: 188px;
  border-radius: 10px;

  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mom-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #442B48;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  align-items: center;
}

.mom-info-icon {
  margin-left: 160px;
  margin-top: 10px;
}

.mom-title {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
}

/* input style */
.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
}

/* create meeting form  */

.create-meeting-form-container {

  width: 90%;
  padding: 20px;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 5px;

}

.create-meeting-form {
  width: 100%;
}

.create-meeting-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

}



.create-meeting-form .form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.create-meeting-form .form-container .form-container-right,
.create-meeting-form .form-container .form-container-left {
  margin: 40px;
  height: 450px;
}

.create-meeting-form .form-container .form-container-right,
.create-meeting-form .form-container .form-container-left {
  display: flex;
  flex-direction: column;

}


.create-meeting-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.create-meeting-form input[type="text"],
.create-meeting-form textarea,
.create-meeting-form input[type="date"],
.create-meeting-form input[type="time"],
.create-meeting-form select {

  width: 400px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;

  box-sizing: border-box
}

.create-meeting-form select {
  -webkit-appearance: none;
  appearance: none;
}

.create-meeting-form select {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath id='XMLID_225_' d='M325.607 79.393c-5.857-5.857-15.355-5.858-21.213 0.001l-139.39 139.393L25.607 79.393 c-5.857-5.857-15.355-5.858-21.213 0.001c-5.858 5.858-5.858 15.355 0 21.213l150.004 150c2.813 2.813 6.628 4.393 10.606 4.393 s7.794-1.581 10.606-4.394l149.996-150C331.465 94.749 331.465 85.251 325.607 79.393z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
}



.create-meeting-form button {
  display: block;
  width: 400px;
  height: 50px;
  margin: 20px 40px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: hsl(47, 94%, 52%);
  color: #fff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.create-meeting-form button:hover {
  background-color: #FFEEB2;
}




.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.selected-users-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.selected-users {
  background-color: #FDE387;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 10px;
  border-radius: 15px;
  margin: 10px;
}

.selected-users button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

/* login  */
.login-input {

  padding: 1em;
  width: 60%;
}

.login-button {


  width: 25%;
  margin-left: 65px;
  margin-top: 5%;
  border-radius: 10px;
  border: none;
  background: #442B48;
  color: white;
  font-weight: 600;

}

.login-form-name {
  margin-right: 32%;
  color: white;
}

.login-form {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  background: #fabb00;
  justify-content: center;
  margin-left: 0%;
  margin-top: -10%;

}

.login-container form {
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-bottom: 1em;
  margin-top: 1em;

}

.input-field {
  margin-top: 2%;
  border-radius: 10px;
  border: none;
  box-shadow: '1px 2px 9px #F4AAB9';

}

.except {
  color: white;
  margin-left: 35%;
  padding: 10px;


}

.except h5 {
  text-decoration: none;
}

.login-container {
  display: flex;
  width: 100vw;
  height: 100vw;
  background-color: #FDE387;
  margin-top: -20vw;
  justify-content: center;
  align-items: center;
}

.signup-button {
  min-width: fit-content;
}


/* Join Meeting */

.join-meeting-card {
  border: solid #FFC700 2px;
  background-color: #FFC700;
  color:white;
  width: 30rem;
  height:10rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding:10px 10px 0px 5px;
  margin:10px 0 0 10px;
  background-image: conic-gradient(from 230deg,#FcC700, #FFa700, #Ffc700);
}


.join-meeting-card .card-header{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* border:solid  rgb(255, 0, 255) 2px; */



margin: 0;
}
.join-meeting-card .card-header .card-title, .card-date{
  padding: 20px 0 10px 0;
  margin: 0;
}
.join-meeting-card .card-header .card-date{
  margin-left:10px;

}
.join-meeting-card .card-header .card-title{

 width: 200px;
 margin: 0 15px 0 0;
 padding: 0 125px 0 0;
 white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;

}

.join-meeting-card .card-body{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 0 0 0;
/* border:solid  rgb(255, 0, 255) 2px; */
}

.card-body .card-host, .card-time{
  padding: 5px 0 10px 0;
  margin: 0;
  font-weight:700;
}
.card-body .card-time{
font-size: small;
 padding-left:20px;
}


.card-body .card-host{
  margin: 0 95px 0 0;
  padding:0 50px 0 0;
  width: 150px;

  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

.join-meeting-card .card-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
/*   border:solid  rgb(255, 0, 255) 2px; */
}

.join-meeting-card .card-footer p{
  margin: 10px 0 10px 20px;
  padding-top: 15px;

}


.join-meeting-card .card-footer .card-venue, button{
  padding: 10px 0 10px 0;
/*   border:2px solid red; */
}
.join-meeting-card .card-footer .card-button{
  margin-left:11rem;
  margin-top: 10px;
  border-radius:10px;
  font-size:smaller;
  font-weight:100;
  height:40px;
  padding:5px;
  font-weight: bold;
  background-color: #6B4671;
  color:white;
  padding:10px;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.join-meeting-card .card-footer .card-button:active{
  color:white;
  background-color: #6B4671;
  transition:ease-out ;
  font-weight: bold;
  padding:10px;
}
.join-meeting-card .card-footer .card-button:active:hover{
  background-color: white;
  color: #442B48;
  border-color: #442B48;
}
.join-meeting-card .card-footer .card-button-disabled:disabled{
  margin-left:11rem;
  margin-top: 10px;
  border-radius:10px;
  font-size:smaller;
  font-weight:100;
  height:40px;
  padding:10px;
  font-weight: bold;


  border:none;

  color:#c1bec2;
  background-color: #9E90A0;
  cursor: not-allowed;

}
.join-meeting-card .card-footer .card-button-disabled:disabled:hover{
  background-color: #6b5d6d;
  border-color: #9E90A0;
  color: #9E90A0;
}

.join-meeting-card .card-footer .card-venue{
  overflow: hidden;
  text-overflow: ellipsis;
  width:200px;
  font-weight:bolder;
  margin-left:20px;
}






/* .card-footer button{

} */



/* modal css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  width: 900px; /* updated width */
  height: 570px; /* updated height */
  padding : 30px;
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  padding: 20px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.modal-overlay.is-open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}


.modal .modal-body{
  display: flex;
  flex-direction: row;
  font-weight: 300;
}

.modal-left-container,
.modal-right-container{
  width: 50%;

  margin: 20px;
}

.modal-heading{
  color: #6B4671;
  font-weight: 700;
  font-size: 28px;
}

.modal .status-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  padding-right: 30px;
}


.modal .status-div div:nth-child(2){
  left: 0;
}


/* MOM Section */

.notepad {
  background-color: #fff;
  border: 1px solid #ccc;

  width: 900px;
  height: 550px;
  margin: 0 auto;
  padding: 30px;
  padding-left: 20px;
  font-family: Arial, sans-serif;

}

.notepad-header {
  margin-bottom: 20px;
  min-height: 100px;
}

.notepad-header h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #444;
}

.notepad-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.notepad-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.notepad-add-btn {
  display: flex;
  margin-left: 10px;
  background-color: #ffdba0;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
}


.notepad-add-btn:hover {
  background-color: #aaa;
}

.notepad-list {
  border: 2px solid #FFDB5A;
  height: 25rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 290px;
  overflow-y: scroll;
  
}

.notepad-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.notepad-item:last-child {
  border-bottom: none;
}

.notepad-item-text {
  margin: 0;
  font-size: 16px;
}


.active-class{
  background-color: #442B48;
  color: #FFDB5A;
  cursor: pointer;

}


.mom-live{
  display: flex;
  width: fit-content;
  align-items: flex-start;
  flex-direction: row;


}

.notepad-download-btn {

  align-items: justify;
  margin-left: 54rem;
  margin-top: 1.5rem;

  padding: 5px 0px;
  background-color: #442b48;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  width: 2.2rem;
  height: 2.2rem;
  z-index: 10;
  position: absolute;
  box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
}
.notepad-download-btn svg{

  border-radius: 100px;

}

.notepad-download-btn:hover {
  background-color: #704d7e;
}

.notepad-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notepad-header .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#6B4671;
}

.notepad .description {
  font-size: 16px;
  margin-bottom: 10px;
}

.notepad .date {
  font-size: 14px;
  margin-bottom: 5px;
}

.notepad .time {
  font-size: 14px;
  margin-bottom: 5px;
}

.notepad .host {
  font-size: 14px;
  margin-bottom: 5px;
}

.notepad .attendees {
  font-size: 14px;
  margin-bottom: 5px;
}

